## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dla-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN'], axis=1)
application_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
app_counts = application_df["APPLICATION_TYPE"].value_counts()
app_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [11]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(app_counts[app_counts < 600].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
Other     2266
T4        1542
T6        1216
T5        1173
T19       1065
Name: APPLICATION_TYPE, dtype: int64

In [12]:
# Look at CLASSIFICATION value counts for binning
class_counts = application_df["CLASSIFICATION"].value_counts()
class_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [13]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_counts_gtone = class_counts.loc[class_counts > 1]
class_counts_gtone

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [14]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(class_counts[class_counts < 1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [15]:
# Look at NAME value counts for binning
name_counts = application_df['NAME'].value_counts()
name_counts

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [16]:
# Choose a cutoff value and create a list of names to be replaced
names_to_replace = list(name_counts[name_counts < 100].index)

# Replace in dataframe
for name in names_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(
        name, "Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                                                 25987
PARENT BOOSTER USA INC                                                 1260
TOPS CLUB INC                                                           765
UNITED STATES BOWLING CONGRESS INC                                      700
WASHINGTON STATE UNIVERSITY                                             492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                         408
PTA TEXAS CONGRESS                                                      368
SOROPTIMIST INTERNATIONAL OF THE AMERICAS INC                           331
ALPHA PHI SIGMA                                                         313
TOASTMASTERS INTERNATIONAL                                              293
MOST WORSHIPFUL STRINGER FREE AND ACCEPTED MASONS                       287
LITTLE LEAGUE BASEBALL INC                                              277
INTERNATIONAL ASSOCIATION OF LIONS CLUBS                                266
MOMS CLUB                                                               210
INTERNATIONAL ASSOCIATION OF SHEET METAL AIR RAIL & TRANSPORTATION      206
AMERICAN ASSOCIATION OF UNIVERSITY WOMEN                                197
FARMERS EDUCATIONAL AND COOPERATIVE UNION OF AMERICA                    166
KNIGHTS OF COLUMBUS                                                     158
HABITAT FOR HUMANITY INTERNATIONAL INC                                  154
TENNESSEE ORDER OF THE EASTERN STAR                                     151
VETERANS OF FOREIGN WARS OF THE UNITED STATES AUXILIARY                 144
PTA UTAH CONGRESS                                                       140
THE UNITED STATES PONY CLUBS INC                                        136
CIVITAN INTERNATIONAL                                                   131
SIGMA BETA DELTA INC                                                    127
HONOR SOCIETY OF PHI KAPPA PHI                                          107
MONTANA 4-H FOUNDATION INC                                              107
WASHINGTON STATE GRANGE                                                 106
UNIVERSITY OF WYOMING                                                   105
DEMOLAY INTERNATIONAL                                                   104
SERTOMA INC                                                             103
Name: NAME, dtype: int64

In [17]:
# Convert categorical data to numeric with `pd.get_dummies`
app_numeric = pd.get_dummies(application_df)

In [18]:
# Split our preprocessed data into our features and target arrays
X = app_numeric.drop(['IS_SUCCESSFUL'], axis=1)
y = app_numeric['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=58)

In [19]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [23]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
hidden_nodes_layer1 = 80
hidden_nodes_layer2 = 30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1,
             input_dim= 71, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(
    units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_3 (Dense)             (None, 80)                5760

 dense_4 (Dense)             (None, 30)                2430

 dense_5 (Dense)             (None, 1)                 31

=================================================================
Total params: 8,221
Trainable params: 8,221
Non-trainable params: 0
_________________________________________________________________

In [27]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='sgd', metrics=['accuracy'])

In [28]:
# Train the model
fit_model = nn.fit(X_train_scaled , y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 1s 971us/step - loss: 0.4712 - accuracy: 0.7684
Epoch 2/100
804/804 [==============================] - 1s 956us/step - loss: 0.4706 - accuracy: 0.7692
Epoch 3/100
804/804 [==============================] - 1s 956us/step - loss: 0.4703 - accuracy: 0.7687
Epoch 4/100
804/804 [==============================] - 1s 963us/step - loss: 0.4701 - accuracy: 0.7687
Epoch 5/100
804/804 [==============================] - 1s 948us/step - loss: 0.4699 - accuracy: 0.7683
Epoch 6/100
804/804 [==============================] - 1s 958us/step - loss: 0.4700 - accuracy: 0.7682
Epoch 7/100
804/804 [==============================] - 1s 938us/step - loss: 0.4699 - accuracy: 0.7686
Epoch 8/100
804/804 [==============================] - 1s 968us/step - loss: 0.4698 - accuracy: 0.7690
Epoch 9/100
804/804 [==============================] - 1s 954us/step - loss: 0.4699 - accuracy: 0.7690
Epoch 10/100
804/804 [==============================] - 1s 965us/step - loss: 0.4698 - accuracy: 0.7685
Epoch 11/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4697 - accuracy: 0.7692
Epoch 12/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4697 - accuracy: 0.7685
Epoch 13/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4698 - accuracy: 0.7689
Epoch 14/100
804/804 [==============================] - 1s 955us/step - loss: 0.4696 - accuracy: 0.7688
Epoch 15/100
804/804 [==============================] - 1s 945us/step - loss: 0.4696 - accuracy: 0.7684
Epoch 16/100
804/804 [==============================] - 1s 962us/step - loss: 0.4696 - accuracy: 0.7685
Epoch 17/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4693 - accuracy: 0.7690
Epoch 18/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4695 - accuracy: 0.7686
Epoch 19/100
804/804 [==============================] - 1s 956us/step - loss: 0.4695 - accuracy: 0.7689
Epoch 20/100
804/804 [==============================] - 1s 948us/step - loss: 0.4695 - accuracy: 0.7677
Epoch 21/100
804/804 [==============================] - 1s 968us/step - loss: 0.4695 - accuracy: 0.7689
Epoch 22/100
804/804 [==============================] - 1s 958us/step - loss: 0.4692 - accuracy: 0.7687
Epoch 23/100
804/804 [==============================] - 1s 949us/step - loss: 0.4694 - accuracy: 0.7689
Epoch 24/100
804/804 [==============================] - 1s 962us/step - loss: 0.4694 - accuracy: 0.7688
Epoch 25/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4692 - accuracy: 0.7686
Epoch 26/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4692 - accuracy: 0.7689
Epoch 27/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4693 - accuracy: 0.7687
Epoch 28/100
804/804 [==============================] - 1s 949us/step - loss: 0.4692 - accuracy: 0.7689
Epoch 29/100
804/804 [==============================] - 1s 952us/step - loss: 0.4693 - accuracy: 0.7690
Epoch 30/100
804/804 [==============================] - 1s 937us/step - loss: 0.4694 - accuracy: 0.7683
Epoch 31/100
804/804 [==============================] - 1s 941us/step - loss: 0.4693 - accuracy: 0.7686
Epoch 32/100
804/804 [==============================] - 1s 970us/step - loss: 0.4693 - accuracy: 0.7685
Epoch 33/100
804/804 [==============================] - 1s 960us/step - loss: 0.4693 - accuracy: 0.7692
Epoch 34/100
804/804 [==============================] - 1s 934us/step - loss: 0.4693 - accuracy: 0.7686
Epoch 35/100
804/804 [==============================] - 1s 939us/step - loss: 0.4693 - accuracy: 0.7689
Epoch 36/100
804/804 [==============================] - 1s 955us/step - loss: 0.4692 - accuracy: 0.7685
Epoch 37/100
804/804 [==============================] - 1s 955us/step - loss: 0.4691 - accuracy: 0.7691
Epoch 38/100
804/804 [==============================] - 1s 962us/step - loss: 0.4692 - accuracy: 0.7685
Epoch 39/100
804/804 [==============================] - 1s 932us/step - loss: 0.4690 - accuracy: 0.7681
Epoch 40/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4690 - accuracy: 0.7690
Epoch 41/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4691 - accuracy: 0.7688
Epoch 42/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4691 - accuracy: 0.7690
Epoch 43/100
804/804 [==============================] - 1s 967us/step - loss: 0.4690 - accuracy: 0.7690
Epoch 44/100
804/804 [==============================] - 1s 956us/step - loss: 0.4690 - accuracy: 0.7688
Epoch 45/100
804/804 [==============================] - 1s 965us/step - loss: 0.4691 - accuracy: 0.7686
Epoch 46/100
804/804 [==============================] - 1s 960us/step - loss: 0.4690 - accuracy: 0.7686
Epoch 47/100
804/804 [==============================] - 1s 961us/step - loss: 0.4690 - accuracy: 0.7685
Epoch 48/100
804/804 [==============================] - 1s 941us/step - loss: 0.4691 - accuracy: 0.7690
Epoch 49/100
804/804 [==============================] - 1s 935us/step - loss: 0.4690 - accuracy: 0.7688
Epoch 50/100
804/804 [==============================] - 1s 942us/step - loss: 0.4688 - accuracy: 0.7687
Epoch 51/100
804/804 [==============================] - 1s 960us/step - loss: 0.4690 - accuracy: 0.7689
Epoch 52/100
804/804 [==============================] - 1s 950us/step - loss: 0.4689 - accuracy: 0.7684
Epoch 53/100
804/804 [==============================] - 1s 924us/step - loss: 0.4690 - accuracy: 0.7691
Epoch 54/100
804/804 [==============================] - 1s 970us/step - loss: 0.4690 - accuracy: 0.7689
Epoch 55/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4689 - accuracy: 0.7692
Epoch 56/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4690 - accuracy: 0.7689
Epoch 57/100
804/804 [==============================] - 1s 942us/step - loss: 0.4688 - accuracy: 0.7692
Epoch 58/100
804/804 [==============================] - 1s 978us/step - loss: 0.4689 - accuracy: 0.7686
Epoch 59/100
804/804 [==============================] - 1s 955us/step - loss: 0.4689 - accuracy: 0.7687
Epoch 60/100
804/804 [==============================] - 1s 962us/step - loss: 0.4688 - accuracy: 0.7685
Epoch 61/100
804/804 [==============================] - 1s 946us/step - loss: 0.4689 - accuracy: 0.7689
Epoch 62/100
804/804 [==============================] - 1s 949us/step - loss: 0.4689 - accuracy: 0.7688
Epoch 63/100
804/804 [==============================] - 1s 939us/step - loss: 0.4688 - accuracy: 0.7689
Epoch 64/100
804/804 [==============================] - 1s 972us/step - loss: 0.4689 - accuracy: 0.7689
Epoch 65/100
804/804 [==============================] - 1s 956us/step - loss: 0.4688 - accuracy: 0.7688
Epoch 66/100
804/804 [==============================] - 1s 932us/step - loss: 0.4689 - accuracy: 0.7687
Epoch 67/100
804/804 [==============================] - 1s 944us/step - loss: 0.4688 - accuracy: 0.7689
Epoch 68/100
804/804 [==============================] - 1s 966us/step - loss: 0.4688 - accuracy: 0.7690
Epoch 69/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4689 - accuracy: 0.7688
Epoch 70/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4688 - accuracy: 0.7689
Epoch 71/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4688 - accuracy: 0.7690
Epoch 72/100
804/804 [==============================] - 1s 971us/step - loss: 0.4689 - accuracy: 0.7690
Epoch 73/100
804/804 [==============================] - 1s 960us/step - loss: 0.4687 - accuracy: 0.7688
Epoch 74/100
804/804 [==============================] - 1s 942us/step - loss: 0.4688 - accuracy: 0.7691
Epoch 75/100
804/804 [==============================] - 1s 953us/step - loss: 0.4688 - accuracy: 0.7689
Epoch 76/100
804/804 [==============================] - 1s 949us/step - loss: 0.4685 - accuracy: 0.7688
Epoch 77/100
804/804 [==============================] - 1s 970us/step - loss: 0.4687 - accuracy: 0.7690
Epoch 78/100
804/804 [==============================] - 1s 963us/step - loss: 0.4687 - accuracy: 0.7688
Epoch 79/100
804/804 [==============================] - 1s 934us/step - loss: 0.4688 - accuracy: 0.7694
Epoch 80/100
804/804 [==============================] - 1s 945us/step - loss: 0.4687 - accuracy: 0.7689
Epoch 81/100
804/804 [==============================] - 1s 949us/step - loss: 0.4687 - accuracy: 0.7688
Epoch 82/100
804/804 [==============================] - 1s 933us/step - loss: 0.4687 - accuracy: 0.7685
Epoch 83/100
804/804 [==============================] - 1s 961us/step - loss: 0.4687 - accuracy: 0.7688
Epoch 84/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4686 - accuracy: 0.7694
Epoch 85/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4684 - accuracy: 0.7687
Epoch 86/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4687 - accuracy: 0.7687
Epoch 87/100
804/804 [==============================] - 1s 961us/step - loss: 0.4686 - accuracy: 0.7692
Epoch 88/100
804/804 [==============================] - 1s 964us/step - loss: 0.4686 - accuracy: 0.7688
Epoch 89/100
804/804 [==============================] - 1s 955us/step - loss: 0.4686 - accuracy: 0.7684
Epoch 90/100
804/804 [==============================] - 1s 981us/step - loss: 0.4686 - accuracy: 0.7688
Epoch 91/100
804/804 [==============================] - 1s 957us/step - loss: 0.4685 - accuracy: 0.7691
Epoch 92/100
804/804 [==============================] - 1s 959us/step - loss: 0.4687 - accuracy: 0.7692
Epoch 93/100
804/804 [==============================] - 1s 966us/step - loss: 0.4686 - accuracy: 0.7693
Epoch 94/100
804/804 [==============================] - 1s 960us/step - loss: 0.4685 - accuracy: 0.7689
Epoch 95/100
804/804 [==============================] - 1s 955us/step - loss: 0.4686 - accuracy: 0.7689
Epoch 96/100
804/804 [==============================] - 1s 979us/step - loss: 0.4686 - accuracy: 0.7689
Epoch 97/100
804/804 [==============================] - 1s 950us/step - loss: 0.4686 - accuracy: 0.7688
Epoch 98/100
804/804 [==============================] - 1s 953us/step - loss: 0.4685 - accuracy: 0.7688
Epoch 99/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4686 - accuracy: 0.7691
Epoch 100/100
804/804 [==============================] - 1s 1ms/step - loss: 0.4685 - accuracy: 0.7689

In [29]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5195 - accuracy: 0.7576 - 347ms/epoch - 1ms/step
Loss: 0.5195440053939819, Accuracy: 0.7575510144233704

In [ ]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE